.player-card {
  font-family: sans-serif;
  color: violet;
  background-color: azure;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid black;
  margin-top: 100px;
}
